#tree-container {
    min-width: 90vw;
    min-height: 90vh;

    border: 1px solid #c6c6c6;

    position: relative;
    overflow: auto;

    margin-block: 20px;

    transition: transform 1s ease; 
    position: relative;
}

.node {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    animation: fadeInScale 0.4s ease-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    z-index: 10;

    transition: left 1s ease, top 1s ease;
}

.node.fade-out {
    opacity: 0;
    pointer-events: none;
}

.node.highlight {
    background-color: chocolate;
    transition: background-color 0.3s ease;
}

.line {
    position: absolute;
    background-color: #333;
    height: 2px;
    transform-origin: left center;

    transition: left 1s ease, top 1s ease, transform 1s ease, width 1s ease;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
